{% extends 'user/bases/base.html' %}
{% load static from staticfiles %}
{% block title %}
	<title>天天生鲜-用户中心</title>
{% endblock %}

{% block pbody %}
	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user_center_info' %}" {% if page == 1 %}class="active" {% endif %}>· 个人信息</a></li>
				<li><a href="{% url 'user:user_center_order' 1 %}" {% if page == 2 %}class="active" {% endif %}>· 全部订单</a></li>
				<li><a href="{% url 'user:user_center_site' %}" {% if page == 3 %}class="active" {% endif %}>· 收货地址</a></li>
			</ul>
		</div>
        {% block oright %}

        {% endblock oright %}
	</div>


{% endblock %}

