{% extends 'user/bases/user_center.html' %}
{% load static from staticfiles %}
{% block script %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
{#    <script>#}
{#        $(function () {#}
{#            get_province();#}
{##}
{#            change_provinces();#}
{##}
{#            change_city();#}
{#        })#}
{#        function get_province() {#}
{#            $.ajax({#}
{#                'url':'{% url "user:get_province" %}',#}
{#                'success':function (data) {#}
{#                    province_list = eval('('+data.prov_list+')')#}
{#                    console.info(province_list[0])#}
{#                    province_list.forEach(function (value) {#}
{#                        console.info(value.pk)#}
{#                        var option = '<option value = "'+value.pk+'">'+value.fields.tittle+'</option>'#}
{#                        $('#pro').append(option)#}
{#                    })#}
{#                }#}
{#            })#}
{#        }#}
{#        function change_provinces() {#}
{#            $('#pro').change(function () {#}
{#                pid = $('#pro').val()#}
{#                $('#city').html('<option value="0">------</option>')#}
{#                $('#area').html('<option value="0">------</option>')#}
{#                if(pid != 0){#}
{#                    $.ajax({#}
{#                        'url':'{% url "user:get_area" %}',#}
{#                        'data':{'pid':$('#pro').val()},#}
{#                        'success':function (data) {#}
{#                            city_list = eval('('+data.area_list+')')#}
{#                            console.info(city_list[0])#}
{#                            $('#city').html('<option value="0">------</option>')#}
{#                            city_list.forEach(function (value) {#}
{#                                console.info(value.pk)#}
{#                                var option = '<option value = "'+value.pk+'">'+value.fields.tittle+'</option>'#}
{#                                $('#city').append(option)#}
{#                            })#}
{#                        }#}
{#                    })#}
{#                }#}
{#            })#}
{#        }#}
{#         function change_city() {#}
{#            $('#city').change(function () {#}
{#                $.ajax({#}
{#                    'url':'{% url "user:get_area" %}',#}
{#                    'data':{'pid':$('#city').val()},#}
{#                    'success':function (data) {#}
{#                        area_list = eval('('+data.area_list+')')#}
{#                        console.info(city_list[0])#}
{#                        $('#area').html('<option value="0">------</option>')#}
{#                        area_list.forEach(function (value) {#}
{#                            console.info(value.pk)#}
{#                            var option = '<option value = "'+value.pk+'">'+value.fields.tittle+'</option>'#}
{#                            $('#area').append(option)#}
{#                        })#}
{#                    }#}
{#                })#}
{#            })#}
{#        }#}
{#    </script>#} 
    <script src="{% static 'js/proJson.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/cityJson.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/areaJson.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //省级赋值
            $.each(province, function (k, p) {
                var option = "<option value='" + p.ID + "'>" + p.NAME + "</option>";
                $("#pro").append(option);
            });

            //省级选择
            $("#pro").change(function () {
                var selValue = $(this).val();
                $("#hidPROVINCE_NAME").val($(this).find("option:selected").text());
                $("#city option:gt(0)").remove();

                $.each(city, function (k, p) {
                    if (p.PARENT_ID == selValue) {
                        var option = "<option value='" + p.ID + "'>" + p.NAME + "</option>";
                        $("#city").append(option);
                    }
                });

            });

            //市级选择
            $("#city").change(function () {
                var selValue = $(this).val();
                $("#hidCITY_NAME").val($(this).find("option:selected").text());
                $("#area option:gt(0)").remove();

                $.each(District, function (k, p) {
                    if (p.PARENT_ID == selValue) {
                        var option = "<option value='" + p.ID + "'>" + p.NAME + "</option>";
                        $("#area").append(option);
                    }
                });
            });

            //区县选择
            $("#area").change(function () {
                var selValue = $(this).val();
                $("#hidCOUNTY_NAME").val($(this).find("option:selected").text());
            });
        });
    </script>
{% endblock %}
{% block oright %}
<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
                        {% if user_site %}
                            {% for site in user_site %}
                                <dd><input type="radio" name="chooce" id="chioce_site">
                                    {{ site.address }}&nbsp;&nbsp;&nbsp;&nbsp;
                                    ({{ site.reciname }}&nbsp;&nbsp;收)&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{ site.phoneNum }}
                                </dd>
                            {% endfor %}
                        {% else %}
                            <dd>
                                (当前无地址)
                            </dd>
                        {% endif %}

					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form action="" method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="reciname">
						</div>
                        <div class="form_group">
                            <label>选择地区：</label>
                            省：<select name="province" id="pro"><option value="0">------</option></select>
                                <input type="hidden" id="hidPROVINCE_NAME" name="PROVINCE_NAME" />
                            市：<select name="city" id="city"><option value="0">------</option></select>
                                <input type="hidden" id="hidCITY_NAME" name="CITY_NAME" />
                            县/区：<select name="area" id="area"><option value="0">------</option></select>
                                <input type="hidden" id="hidCOUNTY_NAME" name="COUNTY_NAME" />
                        </div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="address"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="postcode">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phoneNum">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
{% endblock %}



