{% extends 'user/bases/user_center.html' %}
{% load static from staticfiles %}
{% block title %}
	<title>天天生鲜-用户中心</title>
{% endblock %}

{% block oright %}

{#	<div class="main_con clearfix"></div>#}
    <div class="right_content clearfix">
        <div class="info_con clearfix">
        <h3 class="common_title2">基本信息</h3>
                <ul class="user_info_list">
                    <li><span>用户名：</span>{{ user }}</li>
                    {% if user.myPhone and user.myaddress %}
                    <li><span>联系方式：</span>{{ user.myPhone }}</li>
                    <li><span>联系地址：</span>{{ user.myaddress }}</li>
                    {% else %}
                        <form action="{% url 'user:user_center_info' %}" method="post">
                        {% csrf_token %}
                            <li><span>联系方式：</span><input type="text" name="phone"></li>
                            <li><span>联系地址：</span><input type="text" name="addr"></li>
                            <li><input type="submit" value="提交"></li>

                        </form>
                    {% endif %}

                </ul>
        </div>
        <h3 class="common_title2">最近浏览</h3>
    <div class="has_view_list">
        <ul class="goods_type_list clearfix">
            {% for goodskus in goodskus %}
               <li>
                    <a href="{% url 'goods:detail' goodskus.id %}"><img src="{{ goodskus.image.url }}"></a>
                    <h4><a href="{% url 'goods:detail' goodskus.id %}">{{ goodskus.tittle }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ goodskus.price }}</span>
                        <span class="unit">{{ goodskus.price }}/{{ goodskus.unite }}</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>


{% endblock %}




